/*RESET
---------------------------------------*/
*, *::before, *:after{margin: 0; padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;}


@font-face {
    font-family: "Bree-Serif";
    src: url(fontes/BreeSerif-Regular.ttf);
}

body, html{
    font-family: "Bree-Serif";
    font-size: inherit; 
    background-color: #006666; 
    width: auto;
    height: auto;
}

header{
    margin: auto;
    text-align: center;
}
h1{
    font-size: 40px;
}
.section{
    margin: auto;
    width: 80%;
    height: auto;
    padding-top: 80px;
}

.container{
    margin: auto;
    padding: 40px;
    display: grid;
    width: 100%;
    height: auto;
    background-color: #e9e9e9;
    border-width: 1cap;
    border-color: #cccccc;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-style: solid;
    border-radius: 25px;
}

.container1{
    padding: 10%;
    width: auto;
    height: auto;
    display: grid;
}

button{
    padding: 10px;
    margin-top: 20px;
    font-family: "Bree-Serif";
    color: #e9e9e9;
    font-size: 20px;
    border-radius: 15px;
    background-color: #008584;
    border-color: #006666;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-style: solid;
}

.login{
    margin: auto;

}

label{
    font-size: 40px;
    text-align: center;
}

input{
    margin: auto;
    padding: 2%;
    width: 90%;
    height: 35px;
    background-color: #cccccc;
    border-width: 1px;
    border-radius: 5px;
}

a{
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: inherit;}

footer{
    position: fixed;
    height: 40px;
    width: auto;
    background-color: #008584;
    bottom: 0;
    left: 0;
    right: 0;
}
